@import "../../css/global.css";

* {
    padding: 0;
    margin: 0;
}

$navBarBackground : var(--background-dark);


.app-bar {
    position: absolute;
    width: 100%;
    top: 30px;
    display: flex;
    // justify-content: center;
    height: var(--appbar-height);

    a {
        text-decoration: none;
        font-family: var(--font-family);
    }

    .app-name {
        font-size: 3vmax;
        margin-left: 20px;
        color: white;
        flex: 1;
    }

    .nav-bar {
        flex: 3;
        background-color: $navBarBackground;
        box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.70);
        border-radius: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 550px;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        margin-left: 10px;

        .btn {
            height: 80%;
            border-radius: 50px;
            margin-left: 5px;
            margin-right: 5px;
            color: var(--white-color-2);
            background-color: transparent;
            font-size: 16px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &:hover {
                background-color: var(--background-light);
                color: white;
            }
        }

        .active {
            background-color: var(--background-light-50);
            color: white;
        }
    }

    .contact {
        flex: 1;
        display: flex;
        align-items: center;
        padding-right: 20px;

        svg {
            color: white;
            width: 2vw;
            min-width: 25px;
            margin-left: 10px;

            &:hover {
                color: var(--background-light-50);
            }
        }
    }

    .menuToggle.active {
        transition: 0.2s;
        background-image: url('../../assets/icons/close.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-origin: center;
    }
}



@media only screen and (max-width: 800px) {

    .app-bar {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: max-content;
        width: 100%;

        a {
            text-decoration: none;
            font-family: var(--font-family);
        }


        .nav-bar {
            display: none;
            min-width: 200px;
            position: absolute;
            right: 20px;
            top: 50px;
            background-color: $navBarBackground;
            border-radius: 0;
            border: 0;
            box-shadow: 5px 5px 7px rgb(20, 20, 20);

            .btn {
                width: 100%;
                border-radius: 0;

                svg {
                    display: none;
                }
            }
        }

        .contact {
            display: block;
            margin-top: 10px;

            svg {
                color: white;
                margin-right: 10px;
                width: 20px;
            }
        }

        .menuToggle {
            position: absolute;
            right: 20px;
            transition: 0.2s;
            width: 40px;
            height: 25px;
            background: url('../../assets/icons/menu.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            cursor: pointer;
        }

        .nav-bar.active {
            display: flex;
            flex-direction: column;
            min-height: 100px;
            margin-top: 10px;
            background-color: $navBarBackground;

            .btn {
                margin-left: 0px;
                margin-right: 0px;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}