.foot {
    font-family: var(--font-family);
    background-color: rgba(0, 0, 0, 0.923);
    color: var(--subtitle-color);
    display: flex;
    height: 100px;
    align-items: center;

    .name-adress {
        flex: 1;
        display: flex;
        justify-content: space-around;
    }

    .contact {
        flex: 1;
        display: flex;
        justify-content: space-around;

        .items {
            display: flex;
            color: var(--subtitle-color);
            text-decoration: none;

            svg {
                margin-right: 5px;
            }
        }
    }
}


@media only screen and (max-width: 800px) {
    .foot {
        font-family: var(--font-family);
        background-color: rgba(0, 0, 0, 0.923);
        color: var(--subtitle-color);
        display: flex;
        flex-direction: column;
        align-items: start;
        height: max-content;

        .name-adress {
            flex: 1;
            width: 100%;
            display: flex;
            justify-content: space-between;

            span {
                margin: 10px;
            }
        }

        .contact {
            flex: 1;
            display: flex;
            justify-content: space-between;
            width: 100%;
            // background-color: red;

            .items {
                margin: 10px;

                .foot {
                    font-size: 13px;
                }

                svg {
                    width: 13px;
                }
            }
        }
    }
}