#footer {
    font-family: var(--font-family);
    background-color: var(--background-color);
    border-top: 1px solid var(--subtitle-color);
    color: var(--subtitle-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: max-content;
    align-items: center;
    padding: 10px;

    .item {
        display: flex;
        align-items: center;
        color: var(--subtitle-color);
        text-decoration: none;
        transition: 0.2s;
        svg {
            margin-right: 5px;
        }
    }
}

@media only screen and (max-width: 800px) {
    #footer {
        .item {
            font-size: 13px;
            transition: 0.2s;
            svg {
                width: 13px;
            }
        }
    }

}