.footer {
    font-family: var(--font-family);
    background-color: rgba(0, 0, 0, 0.923);
    border-top: 1px solid var(--subtitle-color);
    color: var(--subtitle-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: max-content;
    align-items: center;
    justify-content: space-around;
    align-items: center;

    .items {
        display: flex;
        align-items: center;
        color: var(--subtitle-color);
        text-decoration: none;
        margin: 5px 0px 0px 20px;
        transition: 0.2s;
        svg {
            margin-right: 5px;
        }
    }
}

@media only screen and (max-width: 800px) {
    .footer {

        .items {
            font-size: 13px;
            transition: 0.2s;
            svg {
                width: 13px;
            }
        }
    }

}