.hero {
    transition: 0.2s;
    font-family: var(--font-family);
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;

    .accroche {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 20px;

        .me {


            .cl-what {
                font-size: 25px;
                color: var(--subtitle-color);
                text-align: center;
            }

            .cl-hi,
            .cl-name {
                font-size: calc(var(--font-size-vmax) + 1vmax);
                color: white;
            }
        }


        .tools {
            height: 40px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-around;

            div {
                background-color: var(--background-light-50);
                color: white;
                display: flex;
                margin-left: 10px;
                margin-right: 10px;
                height: 100%;
                align-items: center;
                justify-content: space-evenly;
                border-radius: 50px;
            }
        }
    }

    .profile {
        height: 350px;

        img {
            box-shadow: -2px 2px 5px white;
            border: 1px solid white;
            border-radius: 20px;
        }
    }
}


@media only screen and (max-width: 800px) {
    .hero {
        transition: 0.2s;
        font-family: var(--font-family);
        height: 100%;
        display: flex;
        flex-direction: column;

        .accroche {

            .me {
                display: flex;
                flex-direction: column;
                align-items: center;


                .cl-what {
                    font-size: 17px;
                    color: var(--subtitle-color);
                }

                .cl-hi,
                .cl-name {
                    font-size: var(--title-font-size-small);
                    color: white;
                }
            }


            .tools {
                margin-top: 20px;

                div {
                    border-radius: 10px;
                }
            }
        }

        .profile {
            // width: 100%;
            height: 300px;
            display: flex;
            justify-content: center;
            margin-top: 50px;

            img {
                width: 300px;
            }
        }
    }

}

@media only screen and (max-width: 500px) {
    .hero {
        padding-left: 5px;
        padding-right: 5px;

    }

    .profile {
        img {
            width: 300px;
        }
    }

}