.loading {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--background-dark);
    .spinner {
        color: white;
        height: 100%;
    }
}