.skill {
    margin: 10px;

    .skill-title {
        font-family: var(--font-family);
        color: white;
        font-size: var(--title-font-size-large);
    }

    .skill-descript {
        font-family: var(--font-family);
        color: var(--subtitle-color);
        margin-top: 5px;
        text-align: justify;
    }

}


@media only screen and (max-width: 800px) {
    .skill {
        .skill-title {
            font-size: var(--title-font-size-small);
        }
    }
}