.error {
    background-image: url("../../assets/backgroungs/bg-main-dark-800w.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    
}