#about-page {
    padding-top: var(--page-padding-top);
    padding-bottom: 50px;
    background-image: url("../../assets/backgrounds/bg-main-dark-1440w.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: var(--font-family);
    color: var(--white-color-1);

    .sec-1 {
        transition: 0.2s;
        display: flex;

        .message {
            margin: 25px;

            .title {
                transition: 0.2s;
                font-size: calc(var(--title-font-size-large) - 10px);
                text-align: center;
            }

            .description {
                font-family: var(--subtitle-font-family);
                transition: 0.2s;
                text-align: justify;
                font-size: 18px;
                color: var(--subtitle-color);
            }
        }

        img {
            margin: 25px;
            width: 60vw;
            max-width: 400px;
            border-radius: 20px;
            box-shadow: 0px 0px 10px white;
        }
    }

    .sec-2 {
        display: flex;
        padding: 25px;

        &>div:first-child {
            border: 1px solid var(--subtitle-color);
            border-radius: 15px;
            display: flex;

            // .message {
            // background-color: red;

            .title {
                max-width: 400px;
                margin: 25px;
                flex: 3;
                transition: 0.2s;
                font-size: calc(var(--title-font-size-large) - 10px);
                text-align: center;
            }

            // }

            .liste-formations {
                flex: 6;
                margin: 25px;
                max-width: 700px;
                // width: 100%;
                transition: 0.2s;

                .formation-item {
                    color: white;
                    font-size: 20px;
                    margin-top: 20px;
                }

                .description {
                    color: var(--subtitle-color);
                    font-family: var(--subtitle-font-family);
                    text-align: justify;
                    font-size: 18px;
                }

                .list-tools {
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    border-radius: 10px;
                    list-style: none;

                    .tool {
                        color: yellowgreen;
                        border: 1px solid var(--subtitle-color);
                        padding: 10px;
                        border-radius: 10px;
                        margin: 5px;
                        height: max-content;
                        font-family: var(--font-family);
                    }
                }

            }
        }

    }

    // .sec-3 {
    //     display: flex;
    //     padding: 25px;
    //     background-color: blue;

    //     .title {
    //         max-width: 400px;
    //         margin: 25px;
    //         flex: 3;
    //         transition: 0.2s;
    //         font-size: calc(var(--title-font-size-large) - 10px);
    //     }

    //     .list-skills {
    //         // color: red;
    //         flex: 6;
    //         margin: 25px;
    //         max-width: 700px;
    //     }
    // }
}


@media only screen and (max-width: 1000px) {
    #about-page {
        .sec-1 {
            img {
                width: 40vw;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    #about-page {
        .sec-1 {
            flex-direction: column;
            align-items: center;

            img {
                width: 90%;
                margin: 10px;
            }
        }

        .sec-2 {
            padding: 5px;

            &>div:first-child {
                flex-direction: column;

                .liste-formations {
                    margin: 5px;
                    max-width: 100%;
                    transition: 0.2s;


                    .description {
                        font-size: 15px;
                    }
                }
            }
        }

        // .sec-3 {
        //     padding: 0px;
        //     // margin-top: 20px;
        //     flex-direction: column;

        //     .title,
        //     .list-skills {
        //         margin-top: 0;
        //         margin-bottom: 0;
        //     }
        // }
    }
}