@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Roboto+Condensed:wght@700&display=swap');


#detail-page {
    padding-top: var(--page-padding-top);
    padding-bottom: 50px;
    background-image: url("../../assets/backgrounds/bg-main-dark-1440w.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: var(--font-family);
    color: var(--white-color-1);

    .sec-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 50px;
        width: 100%;
        height: max-content;
        transition: 0.2s;

        .cl {
            margin: 5px
        }

        .title-image {
            min-width: 400px;
            max-width: 600px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title {
                font-size: calc(var(--font-size-vmax) + .5vmax);
                text-align: center;
            }

            .image {
                margin-top: 30px;

                .img-targeted {
                    width: 100%;
                    height: max-content;
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px white;
                }
            }
        }

        .description-tools {
            text-align: justify;
            width: 100%;
            color: var(--subtitle-color);
            border: 1px solid var(--subtitle-color);
            background-color: rgba(0, 0, 0, 0.3);
            padding: 10px;
            border-radius: 10px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            width: 100%;
            justify-content: space-evenly;

            .tools-list {

                display: flex;
                flex-wrap: wrap;
                text-align: start;
                border-radius: 10px;
                list-style: none;

                .tool {
                    color: white;
                    border: 1px solid var(--subtitle-color);
                    padding: 10px;
                    border-radius: 10px;
                    margin: 5px;
                    height: max-content;
                    font-family: var(--font-family);
                }
            }
        }
    }

    .sec-2 {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 50px;

        div {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;

            .title {
                width: 100%;
                font-size: calc(var(--font-size-vmax) + .5vmax);
                margin-bottom: 20px;
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                transition: 0.2s;
            }

            div {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .liste-etape {
                    list-style: none;
                    border: 1px solid var(--subtitle-color);
                    border-radius: 10px;
                    background-color: rgba(0, 0, 0, 0.3);
                    width: 60vw;
                    transition: 0.2s;
                    padding-right: 15px;
                    padding-top: 15px;

                    .title {
                        color: white;
                    }

                    .description {
                        text-align: justify;
                        color: var(--subtitle-color);
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 800px) {

    #detail-page {
        .sec-1 {
            flex-direction: column;

            .title-image {
                min-width: 100%;
                width: 80%;

                .title {
                    font-size: 25px;
                }
            }

        }

        .sec-1,
        .sec-2 {
            transition: 0.2s;
            padding-left: 30px;
            padding-right: 30px;
        }


        .sec-2 {
            width: 100%;

            div {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;

                .title {
                    font-size: 23px;
                    transition: 0.2s;
                    justify-content: space-between;
                }

                div {

                    .liste-etape {
                        width: 100%;

                        .title {
                            color: white;
                        }

                        .description {
                            font-size: 13px;
                            color: var(--subtitle-color);
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        }
                    }
                }

            }
        }
    }
}

@media only screen and (max-width: 600px) {

    #detail-page {

        .sec-1,
        .sec-2 {
            transition: 0.2s;
            padding-left: 10px;
            padding-right: 10px;
        }

        .sec-1 {
            .title-image {

                .title {
                    font-size: 25px;
                }
            }
        }
    }

}