#message-sent {
    background-image: url("../../assets/backgrounds/bg-main-dark-1440w.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;

    svg {
        width: 80px;
        height: 80px;
        // background-color: red;
        color: var(--subtitle-color);
    }

    .l1 {
        text-align: center;
        transition: 0.2s;
        color: white;
        font-family: var(--font-family);
        font-size: calc(var(--font-size-vmax) + 0.5vmax);
    }

    .l2 {
        text-align: center;
        font-family: var(--subtitle-font-family);
        color: var(--subtitle-color);
    }

}

@media screen and (max-width: 1500px) {
    #message-sent {
        .l1 {
            transition: 0.2s;
            font-size: calc(var(--title-font-size-small) + 0.5vmax);
        }
    }
}
@media screen and (max-width: 600px) {
    #message-sent {
        .l1 {
            transition: 0.2s;
            font-size: calc(var(--title-font-size-small));
        }
    }
}