.work {
    padding-top: var(--page-padding-top);
    background-image: url("../../assets/backgrounds/bg-main-dark-1440w.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}